cleo.search.network.typeahead.config.name=i023
cleo.search.network.typeahead.config.partition.start=110000000
cleo.search.network.typeahead.config.partition.count=5000000
cleo.search.network.typeahead.config.homeDir=network-typeahead/member/i023

cleo.search.network.typeahead.config.elementSerializer.class=cleo.search.TypeaheadElementSerializer
cleo.search.network.typeahead.config.connectionFilter.class=cleo.search.connection.TransitivePartitionConnectionFilter

cleo.search.network.typeahead.config.elementStoreDir=${cleo.search.network.typeahead.config.homeDir}/element-store
cleo.search.network.typeahead.config.elementStoreIndexStart=${cleo.search.network.typeahead.config.partition.start}
cleo.search.network.typeahead.config.elementStoreCapacity=${cleo.search.network.typeahead.config.partition.count}
cleo.search.network.typeahead.config.elementStoreSegmentMB=32
cleo.search.network.typeahead.config.elementStoreCached=true

cleo.search.network.typeahead.config.connectionsStoreDir=${cleo.search.network.typeahead.config.homeDir}/weighted-connections-store
cleo.search.network.typeahead.config.connectionsStoreIndexStart=0
cleo.search.network.typeahead.config.connectionsStoreCapacity=150000000
cleo.search.network.typeahead.config.connectionsStoreSegmentMB=64

cleo.search.network.typeahead.config.filterPrefixLength=2

