cleo.search.generic.typeahead.config.name=i002
cleo.search.generic.typeahead.config.partition.start=1000000
cleo.search.generic.typeahead.config.partition.count=1000000
cleo.search.generic.typeahead.config.homeDir=generic-typeahead/company/i002

cleo.search.generic.typeahead.config.elementSerializer.class=cleo.search.TypeaheadElementSerializer

cleo.search.generic.typeahead.config.elementStoreDir=${cleo.search.generic.typeahead.config.homeDir}/element-store
cleo.search.generic.typeahead.config.elementStoreIndexStart=${cleo.search.generic.typeahead.config.partition.start}
cleo.search.generic.typeahead.config.elementStoreCapacity=${cleo.search.generic.typeahead.config.partition.count}
cleo.search.generic.typeahead.config.elementStoreSegmentMB=32
cleo.search.generic.typeahead.config.elementStoreCached=true

cleo.search.generic.typeahead.config.connectionsStoreDir=${cleo.search.generic.typeahead.config.homeDir}/connections-store
cleo.search.generic.typeahead.config.connectionsStoreCapacity=1000000
cleo.search.generic.typeahead.config.connectionsStoreSegmentMB=64
cleo.search.generic.typeahead.config.connectionsStoreIndexSegmentMB=8

cleo.search.generic.typeahead.config.filterPrefixLength=2
cleo.search.generic.typeahead.config.maxKeyLength=5

